@use '../../sass/abstracts/mixins';
@use '../../sass/abstracts/vars';

.header {
    width: 100%;
    background-color: vars.$darkBg;
    color: white;
    text-align: center;
    height: 135px;
    display: flex;
    align-items: center;
    
}