$orange: #d44500; 
$gold: #fdc007;
$darkBg: #1a1d26;
$color_green: #52C100;
$brightBlue: #0000ff;
$brightBlue: #7d8ff1;
$font_primary: 'Roboto', sans-serif;
$font_secondary: 'Roboto Condensed' sans-serif;
$transition: 0.3s all;
