@use '../../sass/abstracts/vars';


.weather_card {
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: rgb(5, 3, 49);
    transition: vars.$transition;
    color: white;
    position: relative;
    h1 {
        display: block;
        color: vars.$gold;
    }

    h2 {
        font-weight: bold;
    }

    &:hover {
        transform: scale(1.07);
    }
}

.card_header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin: 0.8rem;
}




