@use '../abstracts/vars';
@use '../abstracts/mixins';

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box; //inverts padding
    list-style: none;
    text-decoration: none;
    font: inherit;
    scroll-behavior: smooth;
}

img {
    vertical-align: top;
    
}

body {
    background-color: white;
    color: black;
    font-family: vars.$font_primary;
}