@use '../../sass/abstracts/mixins';
@use '../../sass/abstracts/vars';

.footer {
    
    background-color: vars.$darkBg;
    color: white;
    padding: 2rem;
    
}

.footer_items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
