.searchBox {
    text-align: center;
    height: 400px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    input {
        width: 380px;
        height: 47px;
        margin-bottom: 15px;
        transition: transform 0.3s ;
        color: #383434;
        font-size: 17px;
        padding: 0.9rem;
        box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 5px;
        border: none;

        &:hover {
            transform: scale(1.07);
        }
    }

    .instructions {
        margin-top: 4rem;
        font-weight: 500;
    }


    
}



